h1, h2, h3 { margin:0; padding:0; font-weight:normal; font-style:normal; }
a { color:#5D5D9E; } 
a:visited { color:#5D5D9E; } 
a:active { color:#5C615E; } 
a:hover { color:#B2B3B4; } 
		a.wsp48fac406{ color:#0080FF; text-decoration: none} 
		a.wsp48fac406:visited{ color:#0080FF; text-decoration: none} 
		a.wsp48fac406:active{ color:#8018CB; text-decoration: underline} 
		a.wsp48fac406:hover{ color:#0000A0; text-decoration: underline} 
		a.wsp63851a2{ color:#FFFFFF; text-decoration: none} 
		a.wsp63851a2:visited{ color:#FFFFFF; text-decoration: none} 
		a.wsp63851a2:active{ color:#FFFFFF; text-decoration: underline} 
		a.wsp63851a2:hover{ color:#C0C0C0; text-decoration: underline} 
		a.wsp73620bee{ color:#FFFFFF; text-decoration: underline} 
		a.wsp73620bee:visited{ color:#800080; text-decoration: underline} 
		a.wsp73620bee:active{ color:#8018CB; text-decoration: underline} 
		a.wsp73620bee:hover{ color:#0080FF; text-decoration: underline} 
body { background-color:#FFFFFF; padding:0;  margin: 0; }
.textstyle1 { text-align:left; }
#container_7eba60fe { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:81px; background-color:rgba(160, 179, 66, 0.8);  }
#container_7eba60fe_padding { margin: 10px; display: block;  }
#button_521a477f { box-sizing: border-box; vertical-align: bottom; position:relative; display: inline-block; margin:10px 10px 0px 0px;width:150px; height:40px; background-color:#C0C0C0; border: 2px solid #595959;  }
.vcenterstyle1 { display: table; width: 100%; height: 100%; }
.vcenterstyle2 { display: table-cell; vertical-align: middle; }
.textstyle2 { text-align:center; }
.textstyle3 { font-size:12pt; font-family:Arial, Helvetica, sans-serif; color:#000000;  }
#button_193e5a5a { box-sizing: border-box; vertical-align: bottom; position:relative; display: inline-block; margin:10px 10px 0px 0px;width:150px; height:40px; background-color:#C0C0C0; border: 2px solid #595959;  }
#button_4ab48a4b { box-sizing: border-box; vertical-align: bottom; position:relative; display: inline-block; margin:10px 10px 0px 0px;width:150px; height:40px; background-color:#C0C0C0; border: 2px solid #595959;  }
#button_5c17f023 { box-sizing: border-box; vertical-align: bottom; position:relative; display: inline-block; margin:10px 10px 0px 0px;width:150px; height:40px; background-color:#C0C0C0; border: 2px solid #595959;  }
#button_4fa18e1 { box-sizing: border-box; vertical-align: bottom; position:relative; display: inline-block; margin:10px 10px 0px 0px;width:150px; height:40px; background-color:#C0C0C0; border: 2px solid #595959;  }
#container_19252999 { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:99px; background:none;  }
#container_19252999_padding { margin: 10px; display: block;  }
#img_67367245 { vertical-align: bottom; position:relative; display: inline-block; float:left; width:21%; min-width:300px; max-width:400px; background:none;  }
#container_4cdd36f7 { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:150px; background:none;  }
#container_4cdd36f7_padding { margin: 10px; display: block;  }
#heading_4b21ac47 { vertical-align: bottom; position:relative; display: inline-block; background:none; font-size:12pt; font-family:Arial, Helvetica, sans-serif; color:#000000; text-align:left;  }
#img_64c6c498 { vertical-align: bottom; position:relative; display: inline-block; width:50%; background:none;  }
#text_3b42e9dd { position:absolute; left:25%; top:33%; width:465px; height:60px; background:none;  }
.textstyle4 { font-size:24pt; font-family:Arial, Helvetica, sans-serif; color:#000000;  }
#img_430e4792 { vertical-align: top; position:relative; display: inline-block; margin:10px; width:44%; max-width:1400px; background:none;  }
#container_3a195145 { vertical-align: bottom; position:relative; display: inline-block; float:left; width:100%; min-height:240px; background-color:#333333;  }
#container_3a195145_padding { margin: 0px 0px 10px 10px;display: block;  }
#img_9038ba { vertical-align: bottom; position:relative; display: inline-block; width:19%; max-width:210px; background:none;  }
.textstyle5 { font-size:10pt; font-family:Arial, Helvetica, sans-serif; color:#FFFFFF;  }
#text_67ef04f1 { position:absolute; left:48%; top:63%; background:none;  }
.textstyle6 { font-size:12pt; font-family:Arial, Helvetica, sans-serif; color:#BF583E;  }
#text_31ecf81 { vertical-align: bottom; position:relative; display: inline-block; background:none;  }
#text_31ecf81_padding { margin: 10px 0px 0px 0px;display: block;  }
.textstyle7 { font-size:12pt; font-family:Arial, Helvetica, sans-serif; color:#FFFFFF;  }
