a { color:#5D5D9E; } 
a:visited { color:#5D5D9E; } 
a:active { color:#5C615E; } 
a:hover { color:#B2B3B4; } 
body { background-color:#FFFFFF; padding:0;  margin: 0; }
.textstyle1 { text-align:left; }
#container_2c0dbea0 { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:600px; background-color:#FFFFFF; background-image: url(rc_images/files_looking_for.jpg); background-position:top left; background-size:cover;  }
#container_2c0dbea0_padding { margin: 10px; display: block;  }
