a { color:#5D5D9E; } 
a:visited { color:#5D5D9E; } 
a:active { color:#5C615E; } 
a:hover { color:#B2B3B4; } 
		a.wsp48fac406{ color:#0080FF; text-decoration: none} 
		a.wsp48fac406:visited{ color:#0080FF; text-decoration: none} 
		a.wsp48fac406:active{ color:#8018CB; text-decoration: underline} 
		a.wsp48fac406:hover{ color:#0000A0; text-decoration: underline} 
		a.wsp63851a2{ color:#FFFFFF; text-decoration: none} 
		a.wsp63851a2:visited{ color:#FFFFFF; text-decoration: none} 
		a.wsp63851a2:active{ color:#FFFFFF; text-decoration: underline} 
		a.wsp63851a2:hover{ color:#C0C0C0; text-decoration: underline} 
		a.wsp73620bee{ color:#FFFFFF; text-decoration: underline} 
		a.wsp73620bee:visited{ color:#800080; text-decoration: underline} 
		a.wsp73620bee:active{ color:#8018CB; text-decoration: underline} 
		a.wsp73620bee:hover{ color:#0080FF; text-decoration: underline} 
body { background-color:#FFFFFF; padding:0;  margin: 0; }
.textstyle1 { text-align:left; }
#container_53410e57 { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:81px; background-color:rgba(160, 179, 66, 0.8);  }
#container_53410e57_padding { margin: 10px; display: block;  }
#button_13fec37 { box-sizing: border-box; vertical-align: bottom; position:relative; display: inline-block; margin:10px 10px 0px 0px;width:150px; height:40px; background-color:#C0C0C0; border: 2px solid #595959;  }
.vcenterstyle1 { display: table; width: 100%; height: 100%; }
.vcenterstyle2 { display: table-cell; vertical-align: middle; }
.textstyle2 { text-align:center; }
.textstyle3 { font-size:12pt; font-family:Arial, Helvetica, sans-serif; color:#000000;  }
#button_71a52d7 { box-sizing: border-box; vertical-align: bottom; position:relative; display: inline-block; margin:10px 10px 0px 0px;width:150px; height:40px; background-color:#C0C0C0; border: 2px solid #595959;  }
#button_5bcf6d98 { box-sizing: border-box; vertical-align: bottom; position:relative; display: inline-block; margin:10px 10px 0px 0px;width:150px; height:40px; background-color:#C0C0C0; border: 2px solid #595959;  }
#button_6df6c821 { box-sizing: border-box; vertical-align: bottom; position:relative; display: inline-block; margin:10px 10px 0px 0px;width:150px; height:40px; background-color:#C0C0C0; border: 2px solid #595959;  }
#button_6d013025 { box-sizing: border-box; vertical-align: bottom; position:relative; display: inline-block; margin:10px 10px 0px 0px;width:150px; height:40px; background-color:#C0C0C0; border: 2px solid #595959;  }
#button_68f1787f { box-sizing: border-box; vertical-align: bottom; position:relative; display: inline-block; margin:10px 10px 0px 0px;width:150px; height:40px; background-color:#C0C0C0; border: 2px solid #595959;  }
#img_3813f669 { vertical-align: bottom; position:relative; display: inline-block; width:21%; min-width:300px; max-width:400px; background:none;  }
#placeh_33791ead { box-sizing: border-box; vertical-align: bottom; position:relative; display: inline-block; width:100%; border: 1px solid #A0A0A0;  }
#container_11d407bf { vertical-align: bottom; position:relative; display: inline-block; float:left; width:100%; min-height:240px; background-color:#333333;  }
#container_11d407bf_padding { margin: 0px 0px 10px 10px;display: block;  }
#img_5af4cc17 { vertical-align: bottom; position:relative; display: inline-block; width:19%; max-width:210px; background:none;  }
.textstyle4 { font-size:10pt; font-family:Arial, Helvetica, sans-serif; color:#FFFFFF;  }
#text_9dfc44a { position:absolute; left:48%; top:63%; background:none;  }
.textstyle5 { font-size:12pt; font-family:Arial, Helvetica, sans-serif; color:#BF583E;  }
#text_3f7d56c1 { vertical-align: bottom; position:relative; display: inline-block; background:none;  }
#text_3f7d56c1_padding { margin: 10px 0px 0px 0px;display: block;  }
.textstyle6 { font-size:12pt; font-family:Arial, Helvetica, sans-serif; color:#FFFFFF;  }
