a { color:#5D5D9E; } 
a:visited { color:#5D5D9E; } 
a:active { color:#5C615E; } 
a:hover { color:#B2B3B4; } 
		a.wsp48fac406{ color:#0080FF; text-decoration: none} 
		a.wsp48fac406:visited{ color:#0080FF; text-decoration: none} 
		a.wsp48fac406:active{ color:#8018CB; text-decoration: underline} 
		a.wsp48fac406:hover{ color:#0000A0; text-decoration: underline} 
		a.wsp63851a2{ color:#FFFFFF; text-decoration: none} 
		a.wsp63851a2:visited{ color:#FFFFFF; text-decoration: none} 
		a.wsp63851a2:active{ color:#FFFFFF; text-decoration: underline} 
		a.wsp63851a2:hover{ color:#C0C0C0; text-decoration: underline} 
		a.wsp73620bee{ color:#FFFFFF; text-decoration: underline} 
		a.wsp73620bee:visited{ color:#800080; text-decoration: underline} 
		a.wsp73620bee:active{ color:#8018CB; text-decoration: underline} 
		a.wsp73620bee:hover{ color:#0080FF; text-decoration: underline} 
#table_7dd98ee0 th {  } 
#table_7dd98ee0 td {  } 
body { background-color:#FFFFFF; padding:0;  margin: 0; }
.textstyle1 { text-align:left; }
#container_15054823 { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:81px; background-color:rgba(160, 179, 66, 0.8);  }
#container_15054823_padding { margin: 10px; display: block;  }
#button_4ba7bea6 { box-sizing: border-box; vertical-align: bottom; position:relative; display: inline-block; margin:10px 10px 0px 0px;width:150px; height:40px; background-color:#C0C0C0; border: 2px solid #595959;  }
.vcenterstyle1 { display: table; width: 100%; height: 100%; }
.vcenterstyle2 { display: table-cell; vertical-align: middle; }
.textstyle2 { text-align:center; }
.textstyle3 { font-size:12pt; font-family:Arial, Helvetica, sans-serif; color:#000000;  }
#button_71ab4cf8 { box-sizing: border-box; vertical-align: bottom; position:relative; display: inline-block; margin:10px 10px 0px 0px;width:150px; height:40px; background-color:#C0C0C0; border: 2px solid #595959;  }
#button_27960a10 { box-sizing: border-box; vertical-align: bottom; position:relative; display: inline-block; margin:10px 10px 0px 0px;width:150px; height:40px; background-color:#C0C0C0; border: 2px solid #595959;  }
#button_f857295 { box-sizing: border-box; vertical-align: bottom; position:relative; display: inline-block; margin:10px 10px 0px 0px;width:150px; height:40px; background-color:#C0C0C0; border: 2px solid #595959;  }
#button_17666c37 { box-sizing: border-box; vertical-align: bottom; position:relative; display: inline-block; margin:10px 10px 0px 0px;width:150px; height:40px; background-color:#C0C0C0; border: 2px solid #595959;  }
#button_2b8572f0 { box-sizing: border-box; vertical-align: bottom; position:relative; display: inline-block; margin:10px 10px 0px 0px;width:150px; height:40px; background-color:#C0C0C0; border: 2px solid #595959;  }
#img_46613699 { vertical-align: bottom; position:relative; display: inline-block; width:21%; min-width:300px; max-width:400px; background:none;  }
#container_14af7a0a { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:51px; background:none;  }
#container_14af7a0a_padding { margin: 10px; display: block;  }
.textstyle4 { font-size:14pt; font-family:Arial, Helvetica, sans-serif; color:#000000;  }
#img_7483db53 { vertical-align: bottom; position:relative; display: inline-block; width:50%; background:none;  }
#table_7dd98ee0 { vertical-align: bottom; position:relative; display: inline-table; width:50%; height:747px; background:none; table-layout: fixed;  }
#cell_3a226f88 {  }
#cell_29ee7549 {  }
#cell_23dd7d16 {  }
#cell_627a1e39 {  }
#cell_3b82ee4e {  }
#cell_701050d3 {  }
#cell_15070e93 {  }
#cell_65d20358 {  }
#cell_5687a04e {  }
#cell_2e9d722c {  }
#cell_1ac047bb {  }
#cell_2baa17b4 {  }
#cell_18f46d01 {  }
#cell_5792ad83 {  }
#cell_7f4e00a3 {  }
#cell_7b56f8c2 {  }
#cell_3d01cec2 {  }
#cell_439e7c9a {  }
#cell_44477b00 {  }
#cell_325db47a {  }
#cell_146ea582 {  }
#cell_901e8c0 {  }
#cell_55c59792 {  }
#cell_34482c93 {  }
#container_36360adc { vertical-align: bottom; position:relative; display: inline-block; float:left; width:100%; min-height:240px; background-color:#333333;  }
#container_36360adc_padding { margin: 0px 0px 10px 10px;display: block;  }
#img_6779c72 { vertical-align: bottom; position:relative; display: inline-block; width:19%; max-width:210px; background:none;  }
.textstyle5 { font-size:10pt; font-family:Arial, Helvetica, sans-serif; color:#FFFFFF;  }
#text_1ee20c64 { position:absolute; left:48%; top:63%; background:none;  }
.textstyle6 { font-size:12pt; font-family:Arial, Helvetica, sans-serif; color:#BF583E;  }
#text_1f3203a9 { vertical-align: bottom; position:relative; display: inline-block; background:none;  }
#text_1f3203a9_padding { margin: 10px 0px 0px 0px;display: block;  }
.textstyle7 { font-size:12pt; font-family:Arial, Helvetica, sans-serif; color:#FFFFFF;  }
