a { color:#5D5D9E; } 
a:visited { color:#5D5D9E; } 
a:active { color:#5C615E; } 
a:hover { color:#B2B3B4; } 
		a.wsp48fac406{ color:#0080FF; text-decoration: none} 
		a.wsp48fac406:visited{ color:#0080FF; text-decoration: none} 
		a.wsp48fac406:active{ color:#8018CB; text-decoration: underline} 
		a.wsp48fac406:hover{ color:#0000A0; text-decoration: underline} 
		a.wsp63851a2{ color:#FFFFFF; text-decoration: none} 
		a.wsp63851a2:visited{ color:#FFFFFF; text-decoration: none} 
		a.wsp63851a2:active{ color:#FFFFFF; text-decoration: underline} 
		a.wsp63851a2:hover{ color:#C0C0C0; text-decoration: underline} 
		a.wsp73620bee{ color:#FFFFFF; text-decoration: underline} 
		a.wsp73620bee:visited{ color:#800080; text-decoration: underline} 
		a.wsp73620bee:active{ color:#8018CB; text-decoration: underline} 
		a.wsp73620bee:hover{ color:#0080FF; text-decoration: underline} 
#table_892ebb7 th { border: 0px solid #8C8C8C;  } 
#table_892ebb7 td { border: 0px solid #8C8C8C;  } 
body { background-color:#FFFFFF; padding:0;  margin: 0; }
.textstyle1 { text-align:left; }
#container_741b1441 { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:81px; background-color:rgba(160, 179, 66, 0.8);  }
#container_741b1441_padding { margin: 10px; display: block;  }
#button_60dba8b2 { box-sizing: border-box; vertical-align: bottom; position:relative; display: inline-block; margin:10px 10px 0px 0px;width:150px; height:40px; background-color:#C0C0C0; border: 2px solid #595959;  }
.vcenterstyle1 { display: table; width: 100%; height: 100%; }
.vcenterstyle2 { display: table-cell; vertical-align: middle; }
.textstyle2 { text-align:center; }
.textstyle3 { font-size:12pt; font-family:Arial, Helvetica, sans-serif; color:#000000;  }
#button_526a9cdd { box-sizing: border-box; vertical-align: bottom; position:relative; display: inline-block; margin:10px 10px 0px 0px;width:150px; height:40px; background-color:#C0C0C0; border: 2px solid #595959;  }
#button_55cd82bf { box-sizing: border-box; vertical-align: bottom; position:relative; display: inline-block; margin:10px 10px 0px 0px;width:150px; height:40px; background-color:#C0C0C0; border: 2px solid #595959;  }
#button_68473273 { box-sizing: border-box; vertical-align: bottom; position:relative; display: inline-block; margin:10px 10px 0px 0px;width:150px; height:40px; background-color:#C0C0C0; border: 2px solid #595959;  }
#button_238231e9 { box-sizing: border-box; vertical-align: bottom; position:relative; display: inline-block; margin:10px 10px 0px 0px;width:150px; height:40px; background-color:#C0C0C0; border: 2px solid #595959;  }
#button_4473df6d { box-sizing: border-box; vertical-align: bottom; position:relative; display: inline-block; margin:10px 10px 0px 0px;width:150px; height:40px; background-color:#C0C0C0; border: 2px solid #595959;  }
#img_4867e833 { vertical-align: bottom; position:relative; display: inline-block; width:21%; min-width:300px; max-width:400px; background:none;  }
#table_892ebb7 { box-sizing: border-box; vertical-align: bottom; position:relative; display: inline-table; width:100%; height:793px; background:none; border: 0px solid #8C8C8C; table-layout: fixed;  }
#cell_598df6e9 {  }
.textstyle4 { font-size:20pt; font-family:Arial, Helvetica, sans-serif; color:#000000; font-weight:bold; text-decoration:underline;  }
#cell_5abfa5b {  }
#img_5efb839b { vertical-align: bottom; position:relative; display: inline-block; width:29%; background:none;  }
.textstyle5 { font-size:12pt; font-family:Arial, Helvetica, sans-serif; color:#000000; font-weight:bold;  }
#cell_5abfa5b {  }
#cell_5abfa5b {  }
#img_4078555f { vertical-align: bottom; position:relative; display: inline-block; width:47%; background:none;  }
#cell_7a1f4ea1 {  }
#cell_5abfa5b {  }
#img_54e7e8b8 { box-sizing: border-box; vertical-align: bottom; position:relative; display: inline-block; width:67%; background:none; border: 5px solid #404040;  }
#cell_7a1f4ea1 {  }
#img_54755a93 { box-sizing: border-box; vertical-align: bottom; position:relative; display: inline-block; width:48%; background:none; border: 5px solid #404040;  }
#cell_c75a26f {  }
#img_44cd065 { box-sizing: border-box; vertical-align: bottom; position:relative; display: inline-block; width:84%; background:none; border: 5px solid #404040;  }
#cell_7a6e5f84 {  }
#img_14a1b78f { box-sizing: border-box; vertical-align: bottom; position:relative; display: inline-block; width:75%; background:none; border: 5px solid #404040;  }
#cell_50ba6291 {  }
#img_5ef93a62 { box-sizing: border-box; vertical-align: bottom; position:relative; display: inline-block; width:83%; background:none; border: 5px solid #404040;  }
#cell_7a1f4ea1 {  }
#img_3f3985df { box-sizing: border-box; vertical-align: bottom; position:relative; display: inline-block; width:53%; background:none; border: 5px solid #404040;  }
#cell_7adcf17b {  }
#img_2ea1b31f { box-sizing: border-box; vertical-align: bottom; position:relative; display: inline-block; width:71%; background:none; border: 5px solid #404040;  }
#cell_7834793e {  }
#img_30818d64 { box-sizing: border-box; vertical-align: bottom; position:relative; display: inline-block; width:81%; background:none; border: 5px solid #404040;  }
#cell_7834793e {  }
#img_2cd456e3 { box-sizing: border-box; vertical-align: bottom; position:relative; display: inline-block; width:55%; background:none; border: 5px solid #404040;  }
#cell_7834793e {  }
#img_6409f847 { box-sizing: border-box; vertical-align: bottom; position:relative; display: inline-block; width:55%; background:none; border: 5px solid #404040;  }
#cell_7834793e {  }
#img_657642d1 { box-sizing: border-box; vertical-align: bottom; position:relative; display: inline-block; width:36%; background:none; border: 5px solid #404040;  }
#cell_7834793e {  }
#img_f2ae41b { vertical-align: bottom; position:relative; display: inline-block; width:50%; background:none;  }
#cell_7834793e {  }
#img_3aab6ea4 { box-sizing: border-box; vertical-align: bottom; position:relative; display: inline-block; width:69%; background:none; border: 5px solid #404040;  }
#cell_7834793e {  }
#img_5e45c283 { vertical-align: bottom; position:relative; display: inline-block; width:67%; background:none;  }
#cell_7834793e {  }
#img_7894e7cd { vertical-align: bottom; position:relative; display: inline-block; width:67%; background:none;  }
#cell_7834793e {  }
#img_4365d317 { vertical-align: bottom; position:relative; display: inline-block; width:67%; background:none;  }
#cell_7834793e {  }
#img_5915f34b { vertical-align: bottom; position:relative; display: inline-block; width:67%; background:none;  }
#cell_7834793e {  }
#img_5b22c42e { vertical-align: bottom; position:relative; display: inline-block; width:67%; background:none;  }
#cell_7834793e {  }
#img_2b87b586 { vertical-align: bottom; position:relative; display: inline-block; width:57%; background:none;  }
#cell_7834793e {  }
#img_59bce299 { vertical-align: bottom; position:relative; display: inline-block; width:67%; background:none;  }
#cell_7834793e {  }
#img_64b656e5 { vertical-align: bottom; position:relative; display: inline-block; width:67%; background:none;  }
#cell_7834793e {  }
#img_da1c9ae { vertical-align: bottom; position:relative; display: inline-block; width:67%; background:none;  }
#cell_7834793e {  }
#img_4dbd81c7 { vertical-align: bottom; position:relative; display: inline-block; width:61%; background:none;  }
#cell_7834793e {  }
#img_3fe39059 { vertical-align: bottom; position:relative; display: inline-block; width:67%; background:none;  }
#container_1fd9dd1a { vertical-align: bottom; position:relative; display: inline-block; float:left; width:100%; min-height:240px; background-color:#333333;  }
#container_1fd9dd1a_padding { margin: 0px 0px 10px 10px;display: block;  }
#img_524340ed { vertical-align: bottom; position:relative; display: inline-block; width:19%; max-width:210px; background:none;  }
.textstyle6 { font-size:10pt; font-family:Arial, Helvetica, sans-serif; color:#FFFFFF;  }
#text_24a694d0 { position:absolute; left:48%; top:63%; background:none;  }
.textstyle7 { font-size:12pt; font-family:Arial, Helvetica, sans-serif; color:#BF583E;  }
#text_50fe4c2d { vertical-align: bottom; position:relative; display: inline-block; background:none;  }
#text_50fe4c2d_padding { margin: 10px 0px 0px 0px;display: block;  }
.textstyle8 { font-size:12pt; font-family:Arial, Helvetica, sans-serif; color:#FFFFFF;  }
